.Hello {
  color: white;

}

.display_demo {
  background-color: #D9D9D9;
  width: 45%;
  height: 65vh;
  margin-top: 3%;
  margin-left: 4%;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-template-rows: repeat(2, auto); /* Two rows */
  gap: 25px; /* Padding between rows and columns */
  padding: 30px; /* Padding for the container */
}

.upper_content {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.slogan {
  margin-top: 7.5%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  font-size: 23px;
  white-space: nowrap;
  font-family: 'kadwa', sans-serif;
}

.slogan span {
  color: #A31F37;
}

.slogan #two{
  margin-left: 20%;
}

.slogan #three{
  margin-left: 32%;

}